albumentations
configs
diffusers
matplotlib
#mmcv==2.2.0
https://www.piwheels.org/simple/mmcv/mmcv-2.2.0-py2.py3-none-any.whl#sha256=225c45a541452df249f266b1e80bb8be5184d5efff0016f845fe47431107e646
mmdet
mmengine
munkres
numpy<=1.26.4
pandas
safetensors
Pillow
scipy
tqdm
torch
torchvision
ultralytics
xtcocotools


