name: Publish to ComfyUI Registry

on:
  push:
    branches:
      - main  # 确保这里是你用的主分支 (可能是 main 或 master)
    paths:
      - 'pyproject.toml' # 只在 pyproject.toml 变更时触发

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Publish to ComfyUI Registry
        # 这是 robinken 写的标准 action
        uses: comfy-off/publish-node-action@v1 
        with:
          # 这是去引用你仓库里设置的秘密 token
          registry_token: ${{ secrets.REGISTRY_ACCESS_TOKEN }}